.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.todolist {
  border: 1px solid black;
  border-radius: 5px;
  background-color: burlywood ;
  padding: 15px;
}

.task {
  font-weight: bold;
}

.task-done{
  opacity: 0.5;
  text-decoration: line-through;
}
.btn-active{
  background-color: brown;
  color: white;
  border: none;
  border-radius: 1px;
}